.CountDownBackground
{
    background: #eff3f6 url(//cdn.shopify.com/s/files/1/0023/4104/4283/files/erer.jpg?v=1643689002)no-repeat scroll center center / cover;
    padding-top: 50%;
    background-size: cover;
    position: relative;
}
