.each-slide-effect .each-slide-posi {
  display: flex;
  align-items: center;
  justify-content: center;
    background-size: cover;
    padding-top:40%;
    position: relative;
  }
.content1
{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 12%;
}
.content1 h2
{
  color: #333333;
  font-family: "Work Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 56px;
  line-height: 71px;
  margin-bottom: 35px;
}
.content1 p 
{
  color: #333333;
  font-family: "Work Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  margin-bottom: 33px;
}
.content1 a 
{
  padding: 10px 45px;
  background: #333333;
  border:1px solid  #333333;
  color: #ffffff;
  transform: translateX(10%);
  
}
.content1 a:hover 
{
  text-decoration: none;
  background-color: #FFFFFF;
  color: #333333;
}
@media (max-width : 575px)
{
  .content1
  {
    position: absolute;
    top: 40%;
    transform: translateY(-50%);
    left: 12%;
  }
  .content1 h2 
  {
    font-size: 20px;
    line-height: 20px;
    margin-bottom: 20px;
  }
  .content1 a 
  {
    padding: 4px 8px;
  }
  .content1 p 
  {
    margin-bottom : 10px
  }
}
@media (min-width : 576px) and (max-width:767px)
{
  .content1
  {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 12%;
  }
}
@media (min-width : 768px) and (max-width:991px)
{
  .content1
  {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 12%;
  }
  .content1 p 
{
  margin-bottom: 10px;
}
.content1 h2 
{
  color: #333333;
    font-family: "Work Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 30px;
    line-height: 40px;
    margin-bottom: 35px
}
.content1 a 
{
  padding: 10px 20px;
}
}
@media (min-width : 992px) and (max-width:1199px)
{
  .content1
{
  position: absolute;
  top: 40%;
  transform: translateY(-50%);
  left: 12%;
}

}
@media (min-width : 1200px) and (max-width:1999px)
{

}
@media (min-width : 2000px)
{
  .content1
{
  position: absolute;
  top: 60%;
  transform: translateY(-50%);
  left: 12%;
}
.content1 p 
{
  font-size: 40px;
}
.content1 h2 
{
  font-size: 80px;
  line-height: 103px;

}
.content1 a 
{
  font-size: 30px;
}
}